
<% @staff_members.each do |m| %>
	<tr>
		<td><%= m.family_name %><%= m.given_name %></td>
		<td><%= m.family_name_kana%><%= m.given_name_kana %></td>
		<td class="email"><%= m.email %></td>
		<td class="date"><%= m.start_date.srtftime('%Y/%m/%d') %></td>
		<td class="date"><%= m.end_date.try(:strftime, '%Y/%m/%d') %></td>
		<td class="boolean"><%= m.suspended? row('&#x2611;') : raw('&#x2610;') %></td>
		<td class="action"><%= link_to 'Update', [ :edit, :profit, m ]%> |
			<%= link_to 'Events', [ :profit, m, :cost_events ]%>
			<%= link_to 'Delete', [ :profit, m], method: :delete, data: { confirm: 'delete really' }%>
		</td>
	</tr>
<% end %>


