<fieldset id="sales-fields">
	<legend>Basic info</legend>
	<%= render 'sales_fields', f: f, confirming: true %>
</fieldset>
<% if f.object.inputs_home_address %>
	<div>
		<%= f.hidden_field :inputs_home_address %>
	</div>
	<fieldset id="home-address-fields">
		<%= render 'home_address_fields', f: f, confirming: true %>
	</fieldset>
<% end %>
<% if f.object.inputs_work_address %>
	<div>
		<%= f.hidden_field :inputs_work_address %>
	</div>
	<fieldset id="work-address-fields">
		<legend>work-address</legend>
		<%= render 'work_address_fields', f: f, confirming: true %>
	</fieldset>
<% end %>

