<% @title = 'contact reply' %>
<h1><%= @title %></h1>

<div id="generic-form" class="table-wrapper">
	<%= form_for @reply,
		url: confirm_cost_message_reply_path(@message) do |f| %>
		<% render 'form', f: f %>
		<div class="buttons">
			<%= f.submit 'confirm ENTER' %>
			<%= link_to 'cancel', :cost_message %>
		</div>
	<% end %>
	<%= render 'message' %>
</div>

