<% @title = 'Update Pass' %>
<h1><%= @title %></h1>

<div id="generic-form">
	<%= form_for @change_password_form, url: :staff_password,
method: :patch do |f| %>

#<div>
#<%= f.label :current_password, "Pass now" %>
#<%= f.password_field :current_password, size: 32, required: true %>
#</div>
#<div>
#	<%= f.label :new_password, "New Pass" %>
#	<%= f.password_field :new_password, size: 32, required: true %>
#</div>
#<div>
#	<%= f.label :new_password_confirmation, "New Pass again" %>
#	<%= f.password_field :new_password_confiramtion, size: 32,
#required: true %>
#</div>

<%= markup do |m|
	p = FormPresenter.new(f, self)
	p.with_options(required: true, size: 32) do |q|
		m << q.password_field_block(:current_password, 'current_password')
		m << q.password_field_block(:new_password, 'new_password')
		m << q.password_field_block(:new_password_confirmation, 'new_password_confirmation')
	end
end %>

<div class="buttons">
	<%= f.submit 'Update' %>
	<%= link_to 'Cancel', :staff_account %>
</div>
<% end %>
</div>

