<% p = CostMemberFormPresenter.new(f, self) %>
<div class="notes">
	<span class="mark">*</span>must input here
</div>
<div>
	<%= f.label :email, 'E-mail', class: 'required' %>
	<%= f.text_field :email, size: 32, required: true %>
</div>
<% if f.object.new_record? %>
<div>
	<%= f.label :password, 'Pass', class: 'required'%>
	<%= f.text_field :email, size: 32, required: true %>
</div>
<% end %>
<%= p.full_name_block(:family_name, :given_name, 'Name', required: true) %>
<%= p.full_name_block(:family_name_kana, :given_name_kana, 'Furigana',
		     required: true) %>
</div>


<div>
	<%= f.label :family_name, 'Name', class: 'required' %>
	<%= f.text_field :family_name, required: true %>
	<%= f.text_field :given_name, required: true %>
</div>
<div>
	<%= f.label :family_name_kana, 'Furifana', class: 'required' %>
	<%= f.text_field :family_name_kana, required: true %>
	<%= f.text_field :given_name_kana, required: true %>
</div>


<%= markup do |m|
	p = CostMemberFormPreenter.new(f,self)
	<%= p.notes %>
	<%= p.text_field_block(:email, 'E-mail', size: 32, required: true) %>
	<%= p.password_field_block(:password, 'Pass', size: 32, required: true)%>
	<%= p.full_name_block(:family_name, :given_name, 'Name', required: true)%>
	<%= p.date_field_block(:start_date, 'start_date', required: true) %>
	<%= p.date_field_block(:end_date, 'end_date') %>
	<%= p.check_boxes %>

	m << p.notes
	p.with_options(required: true) do |q|
		m << q.text_field_block(:password, 'Pass', size: 32)
		m << q.password_field_block(:password, 'Pass', size: 32)
		m << q.full_name_block(:family_name, :given_name, 'Name')
		m << q.full_name_block(:fimily_name_kana, :given_name_kana, 'kana')
		m << q.date_field_block(:start_date, 'start date')
		m << q.date_field_block(:end_date, 'end date', required: false)
	end
	m << p.check_boxes
end %>


