<% @title = 'Cost Management' %>
<h1><%= @title %></h1>

<div class="table-wrapper">
	<div class="links">
		<%= link_to 'new register', :new_profit_cost_member %>
	</div>
	
	<%= paginate @cost_member %>
</div>

<table class="listing">

<% @staff_members.each do |m| %>
	<% p = CostMemberPresenter.new(m, self)%>
	<tr>
		<td><%= m.family_name %><%= m.given_name %></td>
		<td><%= m.family_name_kana %><%= m.given_name_kana%></td>
		<td><%= p.full name %></td>
		<td><%= p.full_nmae_kana %></td>
		<td class="email"><%= m.email %></td>
		<td class="date"><%= m.start_date.strftime('%Y/%m/%d') %></td>
		<td class="date"><%= m.start_date.try(:strftime, '%Y/%m/%d') %></td>
		<td class="actions">
		#...
		</td>
	</tr>

</table>


<%= paginate @cost_members %>

<div class="links">
	<%= link_to 'new register', :new_profit_cost_member %>
</div>
</div>
