<%= form_for [:profit, @new_allowed_source] do |f| %>
<div>
<%= f.label(:octet1, 'New permited Ip addr')%>
<%= f.text_field(:octet1, size:3)%>
<%= f.text_field(:octet2, size:3)%>
<%= f.text_field(:octet3, size:3)%>
<%= f.text_field(:last_octet, size: 3)%>
<%= f.submit_field(:last_octet, size: 3)%>
</div>
<% end %>

