<% @title = 'Sales more info' %>
<h1><%= @title %></h1>

<div class="table-wrapper">
	<table class="attributes">
		<tr><th colspan="2">Basic info</th></tr>
		<tr><th>Name</th><td><%= p1.full_name %></td></tr>
		<tr><th>kana</th><td><%= p.full_name_kana%></td></tr>
		<tr><th>birthday</th><td class="date"><%= p1.birthday %></td></tr>
		<tr><th>gender</th><td><%= p1.gender %></td></tr>
		<tr><th>create_date</th><td class="date"><%= p1.created_at %></td></tr>
		<tr><th>update_date</th><td class="date"><%= p1.updated_at %></td></tr>
		<% if @customer.home_address %>
			<tr><th colspan="2">homeaddress</th></tr>
			<tr><th>postalcode</th><td><%= p2.postal_code %></td></tr>
			<tr><th>prefecture</th><td><%= p2.pregecture %></td></tr>
			<tr><th>city</th><td><%= p2.city %></td></tr>
			<tr><th>address1</th><td><%= p2.address1 %></td></tr>
			<tr><th>address2</th><td><%= p2.address2 %></td></tr>
		<% end %>
		<% if @sales.work_address %>
			<% p3 = AddressPresenter.new(@sales.work_address, self) %>
			<tr><th colspan="2">workaddress</th></tr>
			<tr><th>company_name</th><td><%= p3.company_name %></td></tr>
			<tr><th>division_name</th><td><%= p3.division_name %></td></tr>
			<tr><th>postal_code</th><td><%= p3.postal_code %></td></tr>
			<tr><th>prefecture</th><td><%= p3.prefecture %></td></tr>
			<tr><th>city</th><td><%= p3.city %></td></tr>
			<tr><th>address1</th><td><%= p3.address1 %></td></tr>
			<tr><th>address2</th><td><%= p3.address2 %></td></tr>
		<% end %>
	</table>
</div>

